.footer {
  grid-row: 3;
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
  box-sizing: border-box;
  /* margin: 0 15px; */
  border-top: solid 2px darkred;
  /* padding: 15px 0px; */
}

.foot-a {
  font-size: 34px;
  text-decoration: none;
  color: darkred;
}

.foot-a:hover {
  color: white;
}

.name {
  font-size: 34px;
  color: darkred;
}

.name, .foot-a {
  display: flex;
  align-items: center;
}
