.profile-page {
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.bio {
  grid-column: 2;
  box-sizing: border-box;
  margin-top: 15vh;

}

.username {
  font-size: 34px;
  color: darkred;
}

.user-info {
  box-sizing: border-box;
  width: 40vw;
  height: 20vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(247, 247, 233, 0.6);
  font-size: 20px;
  padding: 15px;
}

.bio-div {
  height: 65%;
  overflow-y: scroll;
}

.match-container{
  display: flex;
  box-sizing: border-box;
  width: 40vw;
  height: 40vh;
  justify-content: space-between;
}

.pc-matches, .dm-matches{
  display: flex;
  flex-direction: column;
  width: 19vw;
  height: 30vh;
  /* border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(247, 247, 233, 0.6); */
}

.party-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 18%;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: rgba(223, 221, 219);
  border-radius: 10px;
  padding: 0 4px;
  text-decoration: none;
  color: black;
}


.party-info{
  display: flex;
  flex-direction: column;
}

.campaign{
  overflow-x: hidden;
}

.p-size{
  display: flex;
  align-items: center;
}

.pc-list, .dm-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(247, 247, 233, 0.6);
  padding-top: 8px;
  text-decoration: none;
}

.party-label {
  align-self: center;
  color: darkred;
  font-size: 24px;
}

.item-label{
  font-weight: bold;
}

.card-div {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-top: 15vh;
}

.pc-container, .dm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pc-info, .dm-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  color: black;
  border: solid 5px black;
}

#pcCard {
  background-color: rgba(255, 229, 180, 0.6);
}

.title {
  align-self: center;
  background-color: rgba(223, 221, 219, 0.7);
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

.card-text {
  border-top: solid 1px black;
  height: 40%;
  overflow-y: scroll;
  background-color: rgba(223, 221, 219, 0.7);
  padding: 5px;
}

/* .description {
  overflow-y: scroll;
} */

::-webkit-scrollbar {
  display: none;
  }

.card-btns {
  text-decoration: none;
  color: darkred;
  font-size: 24px;
}

.del-btns{
  font-size: 24px;
  text-decoration: none;
  color: darkred;
  border: none;
  background: none;
  font-family: 'Merienda', cursive;
}

.card-btns:hover, .del-btns:hover {
  color: white;
}
