.splashContainer {
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* height: 60vh; */
}

.splashWelcome {
  font-size: 52px;
  color: darkred;
}
.splashInfo {
  font-size: 35px;
  width: 70vw;
  display: flex;
  text-align: center;
}

.splashMessage {
  font-size: 42px;
  color: darkred;
}

.sign-demo {
  display: flex;
  flex-direction: column;
}

.demo-btn {
  font-size: 30px;
  text-decoration: none;
  color: white;
  border: none;
  background: none;
  font-family: 'Merienda', cursive;
}

.signUp {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.signUp:hover, .demo-btn:hover {
  color: darkred;
}

.intro{
  font-size: 30px;
}

.first-instr{
  font-size: 24px;
}

.instruct-img-1{
  height: 45vh;
  width: 60vw;
  border: solid 2px black;
}
