.pageRoot {
  grid-row: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  min-height: 80vh;
  width: 100vw;
  box-sizing: border-box;
}

.swipeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
  max-width: 300px;
  height: 500px;
  transform: translateX(-155px);
}

.swipe {
  position: absolute;
}

#cardId {
  width: 300px;
  height: 500px;
  border: 5px solid black;
  border-radius: 20px;
  position: relative;
  background-color: rgba(255, 229, 180);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
}

.cardInfo {
  position: absolute;
  bottom: 0;
  color: black;
  border-top: solid 1px black;
  height: 40%;
  width: 90%;
  margin-left: 13px;
  margin-bottom: 15px;
  background-color: rgba(223, 221, 219, 0.7);
  overflow-y: scroll;
}

#card-swipe-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bard{
  background: url('https://i.imgur.com/4h05f8H.png');
  background-size: cover;
}

.barbarian{
  background: url('https://i.imgur.com/0EbKuy6.png');
  background-size: cover;
}

.cleric{
  background: url('https://i.imgur.com/7ghr4ac.png');
  background-position: 70%;
  background-repeat: no-repeat;
}

.druid{
  background: url('https://i.imgur.com/JS30cXn.png');
  background-position: 40%;
}

.fighter{
  background: url('https://i.imgur.com/hucOS0r.png');
  background-size: cover;
}

.monk {
  background: url('https://i.imgur.com/ku9Agh4.png');
  background-size: cover;
}

.paladin{
  background: url('https://i.imgur.com/VsG24Vl.png');
  background-size: cover;
  background-position: 30%;
}

.ranger {
  background: url('https://i.imgur.com/px3glEu.png');
  background-size: cover;
  background-position: 50%;
}

.rogue {
  background: url('https://i.imgur.com/4CuRjrv.png');
  background-size: cover;
  background-position: 80%;
}

.sorcerer{
  background: url('https://i.imgur.com/2Lzn33d.png');
  background-size: cover;
  background-position: 70%;
}

.warlock {
  background: url('https://i.imgur.com/wZATeC5.png');
  background-position: 80%;
}

.wizard{
  background: url('https://i.imgur.com/HvZqRq6.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.novice {
  background: url('https://i.imgur.com/WIOFGhN.png');
  background-size: 800px 500px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.adept {
  background: url('https://i.imgur.com/vxIsZAk.png');
  background-size: 300px 600px;
}

.master {
  background: url('https://i.imgur.com/jxKz8IN.png');
  background-size: 600px 500px;
  background-position: 60%;
}
